</main>
<footer>
    <ul class="social_icon">
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
        <li><a href="#"> </a></li>
    </ul>
    <p class="copyright"> Copyright Brittany Morris © <%= new Date().getFullYear() </p>
</footer>
<script src="./JS/script.js"></script>
<script src="./JS/taskbar-script.js"></script>


</body>

</html>